<div class="navbar-wagon">
  <!-- Logo -->
  <a href="#" style="font-family : 'Avenir Black'" class="navbar-company_name">pixel+fox</a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm" data-clicked='false'>
    <a href="#services" class="navbar-wagon-item navbar-wagon-link">Services</a>
    <a href="#approach" class="navbar-wagon-item navbar-wagon-link">About</a>
    <a href="#about_us" class="navbar-wagon-item navbar-wagon-link"><i class="far fa-envelope fa-2x"></i></a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <!-- <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#services">Services</a></li>
        <li><a href="#approach">About</a></li>
        <li><a href="#about_us">Contact</a></li>
      </ul> -->
    </div>
  </div>
</div>
