span {
  color: #484848;
}

.pixel-box {
  height: 400px;
}
#relative-box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height: 600px;
  background: none;
  margin-top: 0;
  padding-bottom: 0;
}
.cube {
  height: 30%;
  width: 30%;
}
.ear-left {
  background-color: #f51e01;
  position: absolute;
  left: 5%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}
.ear-left_text {
  background-color: white;
  padding: 50px;
  width: 110%;
  height: 110%;
  border: 1px solid white;
  color: #484848;
  position: absolute;
  right: -5%;
  top: -5%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  text-align: center;
  font-size: 32px;
}
.ear-right {
  background-color: #ff8b00;
  position: absolute;
  right: 5%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.ear-right_text {
  background-color: white;
  padding: 50px;
  width: 110%;
  height: 110%;
  border: 1px solid white;
  color: #484848;
  position: absolute;
  right: -5%;
  top: -5%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  text-align: center;
  font-size: 32px;
}
.left-cheek {
  background-color: #ff7402;
  position: absolute;
  left: 5%;
  top: 30%;
}
.middle-cheek {
  background-color: #ff5d00;
  position: absolute;
  top: 30%;
  right: 35%;
}
.nose {
  position: absolute;
  width: 11%;
  height: 8%;
  transform: perspective(12px) rotateX(168deg);
  background-color: black;
  right: 44%;
  bottom: 33%;
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
}
.nose-text {
  position: absolute;
  width: 18%;
  height: 10%;
  right: 40.5%;
  bottom: 34%;
  z-index: 2;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.right-cheek {
  background-color: #ffb638;
  position: absolute;
  top: 30%;
  right: 5%;
}
.left-jaw {
  border-bottom: solid 90px transparent;
  border-left: solid 90px transparent;
  border-right: solid 90px #ffcd78;
  border-top: solid 90px #ffcd78;
  bottom: 10%;
  position: absolute;
  left: 5%;
}
.middle-jaw {
  background-color: #fff4df;
  position: absolute;
  right: 35%;
  bottom: 10%;
}
.right-jaw {
  border-bottom: solid 90px transparent;
  border-left: solid 90px #fee0af;
  border-right: solid 90px transparent;
  border-top: solid 90px #fee0af;
  bottom: 10%;
  position: absolute;
  right: 5%;
}
.question-box {
  padding: 10px;
  width: 435px;
  display: flex;
  align-items: center;
  &:nth-child(odd) {
    background-color: blue;
  }
  &:nth-child(even) {
    background-color: green;
  }
}
// .banner_headline {
//   position: absolute;
//   right: 35%;
//   bottom: -5%;
//   color: white;
//   font-size: 56px;
// }

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo3 {
  margin-top: 20px;
}

// Media responsiveness

@media only screen and (max-width: 600px) {
  .banner {
    padding: 115px 0 0 0;
    text-align: center;
  }
  .banner-text-all-box {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    bottom: 10px;
    #about {
      display: none;
    }
  }

  #banner-title-box {

    #banner-title {
      margin: 0 15px 0 15px;
      font-size: 64px;
    }
    #banner-title_sub {
      font-size: 20px;
    }
  }
  .nose {
    bottom: 34%;
    transform: perspective(12px) rotateX(163deg);
    width: 12%;
  }

  #relative-box {
    width: 300px;
    height: 300px;
  }
  .ear-right_text,
  .ear-left_text {
    display: none;
  }
  .left-jaw {
    border-bottom: solid 45px transparent;
    border-left: solid 45px transparent;
    border-right: solid 45px #ffcd78;
    border-top: solid 45px #ffcd78;
  }
  .right-jaw {
    border-bottom: solid 45px transparent;
    border-left: solid 45px #fee0af;
    border-right: solid 45px transparent;
    border-top: solid 45px #fee0af;
  }
  .nose-text {
    display: none;
  }
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .banner {
    padding: 100px 0;
  }
  #banner-title-box {
    padding-left: 100px;
    #banner-title {
      font-size: 72px;
    }
    #banner-title_sub {
      font-size: 22px;
    }
  }
  .cube {
    height: 25%;
    width: 25%;
  }
  .ear-right {
    right: 10%;
    top: 5%;
  }
  .ear-right_text,
  .ear-left_text {
    width: 110%;
    height: 110%;
  }
  .ear-left {
    left: 15%;
    top: 5%;
  }
  .right-cheek {
    right: 10%;
  }
  .left-cheek {
    left: 15%;
  }
  .nose {
    right: 42%;
    bottom: 39%;
    width: 10%;
    height: 7%;
  }
  .nose-text {
    right: 37.5%;
    bottom: 39%;
    font-size: 14px;
  }
  .left-jaw {
    border-bottom: solid 75px transparent;
    border-left: solid 75px transparent;
    border-right: solid 75px #ffcd78;
    border-top: solid 75px #ffcd78;
    bottom: 20%;
    left: 15%;
  }
  .middle-jaw {
    bottom: 20%;
  }
  .right-jaw {
    border-bottom: solid 75px transparent;
    border-left: solid 75px #fee0af;
    border-right: solid 75px transparent;
    border-top: solid 75px #fee0af;
    bottom: 20%;
    right: 10%;
  }
}
