<div class="wrapper-black banner" style="background-image: url('<%= image_path'forest.jpg' %>');">
  <div id="relative-box">
    <div class="ear-left cube"></div>
    <div class="ear-right cube"></div>
    <div class="left-cheek cube"></div>
    <div class="middle-cheek cube"></div>
    <div class="nose"></div>
    <div class="right-cheek cube"></div>
    <div class="left-jaw"></div>
    <div class="middle-jaw cube"></div>
    <div class="right-jaw"></div>
<!--     <h1 class="banner_headline" style="font-family : 'Avenir Black'">pixel+fox</h1> -->
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>

    <strong>We</strong> <span class="strikethrough">are digital creatives who </span> <span class="strikethrough">provide smart services and </span> <strong>create </strong><span class="strikethrough"> disruptive and </span> <strong>beautiful designs that reflect who you are </strong><span class="strikethrough"> in today's industry 4.0.</span>
  </div>

</div>




<div class="wrapper">
  <div class="container", id="services">
    <div class="text-center">
      <div class="strike container">
          <span id="services_headline", style="font-family: 'Avenir'; color: white;">We cut to the chase</span>
      </div>
      <div class="col-md-12 services_all text-center">
        <div class="service_1 col-md-4 text-center pixel-box">
          <div class="service_1_content">
            <h4 class="services_heading", style="font-family: 'Avenir'"> Design</h4>
            <br>
            <strong>We</strong> <span class="strikethrough">are digital creatives who </span> <span class="strikethrough">provide smart services and </span> <strong>create </strong><span class="strikethrough"> disruptive and </span> <strong>beautiful designs that reflect who you are </strong><span class="strikethrough"> in today's industry 4.0.</span>
          </div>
        </div>
        <div class="service_2 col-md-4 text-center pixel-box">
          <div>
            <div class="service_2_content">
              <h4 class="services_heading", style="font-family: 'Avenir'">Website Development</h4>
              <br>
              <strong>We</strong> <span class="strikethrough">are digital creatives who </span> <span class="strikethrough">provide smart services and </span> <strong>create </strong><span class="strikethrough"> disruptive and </span> <strong>beautiful designs that reflect who you are </strong><span class="strikethrough"> in today's industry 4.0.</span>
            </div>
          </div>
        </div>
        <div class="service_3 col-md-4 text-center pixel-box">
          <div>
            <div class="service_3_content">
              <h4 class="services_heading", style="font-family: 'Avenir'">Media Relations</h4>
              <br>
              <strong>We</strong> <span class="strikethrough">are digital creatives who </span> <span class="strikethrough">provide smart services and </span> <strong>create </strong><span class="strikethrough"> disruptive and </span> <strong>beautiful designs that reflect who you are </strong><span class="strikethrough"> in today's industry 4.0.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper", id="approach">
  <div class="container text-center">
    <div class="strike">
        <span id="services_headline", style="font-family: 'Avenir'; color: white;">About</span>
    </div>
  </div>
</div>

<div class="wrapper", id="about_us">
  <div class="container text-center">
    <div class="strike">
        <span id="services_headline", style="font-family: 'Avenir'">The Foxes</span>
    </div>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>

<div class="container" id="user-email">
<!--   <div class="question-box">
    <p>I need to spice up my communications strategy!</p>
  </div>
    <div class="question-box">
    <p>The content of my messaging is just not right anymore</p>
  </div>
  <div class="question-box">
    <p>XXXX</p>
  </div> -->
  <%= simple_form_for @user do |f| %>
    <%= f.input :email %>
    <%= f.button :submit %>
  <% end %>
</div>

<p id="example">
    This is an example element you can select and animate.
</p>

<script>
  var $element = $("#example");
  const elements = document.querySelectorAll($element);


    //

  // Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.querySelector(".ear-left");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
// btn.onclick = function() {
//     modal.style.display = "block";
// }
    let rotated = false;
btn.addEventListener("mouseover", (event) => {
    setTimeout(function() {
      modal.style.display = "block";
    }, 1000);

    let earLeft = document.querySelector('.ear-left');
    deg = rotated ? 0 : 90;
    earLeft.style.webkitTransform = 'rotate('+deg+'deg)';
    earLeft.style.mozTransform    = 'rotate('+deg+'deg)';
    earLeft.style.msTransform     = 'rotate('+deg+'deg)';
    earLeft.style.oTransform      = 'rotate('+deg+'deg)';
    earLeft.style.transform       = 'rotate('+deg+'deg)';
  })
btn.addEventListener("mouseout", (event) => {
    setTimeout(function() {
      modal.style.display = "block";
    }, 1000);
    let rotated = false;
    let earLeft = document.querySelector('.ear-left');
    deg = rotated ? 0 : 90;
    earLeft.style.webkitTransform = 'rotate('+deg+'deg)';
    earLeft.style.mozTransform    = 'rotate('+deg+'deg)';
    earLeft.style.msTransform     = 'rotate('+deg+'deg)';
    earLeft.style.oTransform      = 'rotate('+deg+'deg)';
    earLeft.style.transform       = 'rotate('+deg+'deg)';
  })

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}



  const navbarLinks = document.querySelector('.navbar-wagon-right');
  const hamburgerMenu = document.querySelector('.dropdown-toggle');
  //hamburgerMenu.addEventListener("mouseenter", (event) => {
    //if(navbarLinks.dataset.clicked === 'false') {
      //navbarLinks.classList.add('navbar-wagon-reveal');
      //navbarLinks.dataset.clicked = 'true';
    //} else {
      //navbarLinks.classList.remove('navbar-wagon-reveal');
      //navbarLinks.dataset.clicked = 'false';
    //}
  //})
  hamburgerMenu.addEventListener("click", (event) => {
    if(navbarLinks.dataset.clicked === 'false') {
      navbarLinks.classList.add('navbar-wagon-reveal');
      navbarLinks.dataset.clicked = 'true';
    } else {
      navbarLinks.classList.remove('navbar-wagon-reveal');
      navbarLinks.dataset.clicked = 'false';
    }
  })

  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});

var menu = 0, movingDivObj;
var menu2 = 0, movingDivObj2;
var menu3 = 0, movingDivObj3;
setInterval(function(){
  if(menu == 0){
    Menu_Move(20,1);
  } else {
    Menu_Move(-20,0);
  };
  if(menu2 == 0){
    Menu_Move2(-20,1);
  } else {
    Menu_Move2(20,0);
  };
  if(menu3 == 0){
    Menu_Move3(20,1);
  } else {
    Menu_Move3(-20,0);
  };
},1500);
function Menu_Move(dirn,tog) {
  var currentPosition = parseInt(movingDivObj.style.top);
  movingDivObj.style.top = currentPosition+dirn+"px";
  menu = tog;
}
window.onload= function(){
  movingDivObj=document.querySelector(".service_1");
  movingDivObj.style.top="20px";

  movingDivObj2=document.querySelector(".service_2");
  movingDivObj2.style.top="40px";

  movingDivObj3=document.querySelector(".service_3");
  movingDivObj3.style.top="20px";
};

function Menu_Move2(dirn,tog) {
  var currentPosition2 = parseInt(movingDivObj2.style.top);
  movingDivObj2.style.top = currentPosition2+dirn+"px";
  menu2 = tog;
}

function Menu_Move3(dirn,tog) {
  var currentPosition3 = parseInt(movingDivObj3.style.top);
  movingDivObj3.style.top = currentPosition3+dirn+"px";
  menu3 = tog;
}


</script>




