<div class="wrapper-black banner">
  <div id="relative-box">
    <div class="ear-left cube"></div>
    <div class="ear-right cube"></div>
    <div class="left-cheek cube"></div>
    <div class="middle-cheek cube"></div>
    <div class="nose"></div>
    <div class="right-cheek cube"></div>
    <div class="left-jaw"></div>
    <div class="middle-jaw cube"></div>
    <div class="right-jaw"></div>
  </div>
</div>

<div class="wrapper">
  <div class="container text-center">
    <div class="strike">
        <span id="services_headline", style="font-family: 'Avenir'">What we can do for you</span>
    </div>
    <div class="services_all">
      <div class="service_1 col-md-4 text-center pixel-box">
        <div class="service_1_content">
          <%= image_tag "spaceship.svg"%>
          <h4 class="services_heading", style="font-family: 'Avenir'">Website Design</h4>
          <p> - User Interface Design - User Experience - Interaction Design - Usability Testing </p>
        </div>
      </div>
      <div class="service_2 col-md-4 text-center pixel-box">
        <div>
          <div class="service_2_content">
            <%= image_tag "spaceship.svg"%>
            <h4 class="services_heading", style="font-family: 'Avenir'">Public Relations</h4>
            <p> - Media training - Communications strategy and planning - Media outreach - Interviews - Storytelling</p>
          </div>
        </div>
      </div>
      <div class="service_3 col-md-4 text-center pixel-box">
        <div>
          <div class="service_3_content">
            <%= image_tag "spaceship.svg"%>
            <h4 class="services_heading", style="font-family: 'Avenir'">Website Development</h4>
            <p> - Target Group Optimisation - Content </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container text-center">
    <div class="strike">
        <span id="services_headline", style="font-family: 'Avenir'">Our Approach</span>
    </div>
  </div>
</div>


